html,body {
    height: 100%;
    width: 100%;
    position: relative;
    top: -4px;
    left: -4px;
}


.bg1 {
    text-align: center;
    background-image: linear-gradient(25deg, #e881ff, #f0ccff);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: table;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
    margin-bottom: auto;
    border-radius: 20px;
    border: 3px solid rgb(62, 28, 130);
    float: inherit;
    width: 261px;
    height: 179px;
}



.gift {
    color: rgb(255, 255, 255);
    font-size: 7px;
    position: relative;
    bottom: -30px;
    animation-name: gift-an;
    animation-duration: 2s;
}




.head {
    position: relative;
    top: 23px;
    color: rgb(87, 40, 231);
    font-size: 34px;
    font-weight: bold;
    font-family:Arial;
    animation-name: head-an;
    animation-duration: 2s;
}

.caption {
    color: rgb(111, 0, 255);
    font-size: 30px;
    font-weight: bold;
    font-family:Arial;
    position: relative;
    bottom: -53px;
    animation-name: cap-an;
    animation-duration: 2s;
   
}
.caption1 {
    color: rgb(111, 0, 255);
    font-size: 30px;
    font-weight: bold;
    font-family:Arial;
    position: relative;
    bottom: -25px;
    animation-name: capt-an;
    animation-duration: 2s;
}


@keyframes capt-an {
    from {
        bottom: -97px;
    }
    to {
        bottom: -25px;
    }
}

@keyframes cap-an {
    from {
        bottom: -78px;
    }
    to {
        bottom: -53px;
    }
}

@keyframes head-an {
    from {
        top: -100px;
    }
    to {
        top: 23px;
    }
}

@keyframes gift-an {
    from {
        bottom: -80px;
    }
    to {
        bottom: -30px;
    }
}


